doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title CLOOM
    link(rel="stylesheet", href="https://unpkg.com/mvp.css")
  body
    header
      h1 CLOOM
    main
      #welcome
        form#roomForm
          input(type="text", placeholder="room name", required)
          button Enter Room
      #call
        #myStream
          video#myVideo(autoplay, playsinline, width="400", height="300")
          button#mic Mic off
          select#mics
          button#camera cam off
          select#cameras
          video#opVideo(autoplay, playsinline, width="400", height="300")

    script(src="/socket.io/socket.io.js") 
    script(src="/public/js/app.js") 